{erl_opts, [debug_info]}.
{deps, [
{wolff, {git, "https://github.com/bgitter/wolff.git", {branch, "master"}}},
{erlavro, {git, "https://github.com/klarna/erlavro.git", {branch, "master"}}},
{jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "master"}}},
{brod, {git, "https://github.com/klarna/brod.git", {branch, "master"}}}
]}.